<!-- FIXME: SIMILAR WITH TEMPLATE, NEED AN .HTML BASE reusable -->

{% extends 'core_main_app/_render/admin/theme/tools/modal.html' %}

{% block modal_id %}delete-repository-modal{% endblock %}
{% block modal_title %}Delete <strong><span class="delete-repository-name"></span></strong>{% endblock %}

{% block modal_body %}
    <input id="delete-repository-id" type="hidden" value=""/>
    <p>Are you sure you want to delete this repository?</p>
{% endblock %}

{% block modal_footer %}
    <button class="btn btn-secondary pull-left" {% if BOOTSTRAP_VERSION|first == "4" %}data-dismiss{% elif BOOTSTRAP_VERSION|first == "5"  %}data-bs-dismiss{% endif %}="modal">
        <i class="fas fa-times"></i> No
    </button>
    <button id="delete-repository-yes" class="btn btn-danger"><i class="fas fa-check">
    </i> Yes </button>
{% endblock %}