{% extends 'core_main_app/_render/admin/theme/tools/modal.html' %}

{% block modal_id %}refresh-repository-modal{% endblock %}
{% block modal_title %}Refresh Token{% endblock %}

{% block modal_body %}
    <form id="refresh-repository-form">
        <input id="refresh-repository-id" type="hidden" value=""/>
    </form>

    <div id="error-div">
        <br/>
        <div class="alert alert-danger alert-dismissable">
            <a href="#" {% if BOOTSTRAP_VERSION|first == "4" %}class="close" data-dismiss="alert"{% elif BOOTSTRAP_VERSION|first == "5"  %}class="btn-close" data-bs-dismiss="alert"{% endif %} aria-label="close">{% if BOOTSTRAP_VERSION|first == "4" %}&times;{% elif BOOTSTRAP_VERSION|first == "5"  %}{% endif %}</a>
            <strong><span id="error-message"></span></strong>
        </div>
    </div>

{% endblock %}

{% block modal_footer %}
    <a class="btn btn-secondary pull-left" {% if BOOTSTRAP_VERSION|first == "4" %}data-dismiss{% elif BOOTSTRAP_VERSION|first == "5"  %}data-bs-dismiss{% endif %}="modal" href="#">
        <i class="fas fa-times"></i> Close
    </a>
    <a id="refresh-repository-save" class="btn btn-primary" href="#"><i class="fas fa-sync"></i> Refresh</a>
{% endblock %}