{% extends 'core_main_app/_render/admin/theme/tools/box.html' %}
{% load tz %}

{% block box_title %}List all repositories{% endblock %}

{% block box_tools %}
<div class="btn-group {% if BOOTSTRAP_VERSION|first == "4" %}float-right{% elif BOOTSTRAP_VERSION|first == "5"  %}float-end{% endif %}">
<a href="{% url 'core-admin:core_federated_search_app_repositories_add'%}" class="btn btn-secondary add-repository-btn">
    <i class="fas fa-plus-circle"></i> Add Repository
</a>
</div>
{% endblock %}

{% block box_body %}

    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>Instance Name</th>
            <th>Instance URL</th>
            <th>Token expires</th>
            <th>Actions</th>
        </tr>

        {% for instance in data.instance_list %}
            {% cycle 'even' '' as rowcolors silent %}
            <tr class="{{ rowcolors }}">
                <td>{{ instance.name }}</td>
                <td>{{ instance.endpoint }}</td>
                <td>{{ instance.expires|localtime }}</td>
                <td id="{{ instance.id }}">
                    {% block box_actions %}
                        {% url 'core-admin:core_federated_search_app_repositories_edit' instance.id as edit_url %}
                        {% include 'core_main_app/common/buttons/edit.html' with label='Rename' %}
                        <span class="icon legend refresh">
                            <a class="btn btn-secondary" href="#"><i class="fas fa-sync"></i> Refresh Token </a>
                        </span>
                        <span class="icon legend delete">
                            <button class="btn btn-danger"><i class="fas fa-trash"></i> Delete </button>
                        </span>
                    {% endblock %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td class="empty" colspan="4">
                    There are currently no other repositories registered. Please
                    <a href="{% url 'core-admin:core_federated_search_app_repositories_add'%}"
                       class="add-repository-btn">add a new one</a>.
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block box_footer %}
{% endblock %}